@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
.footer_container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 40px 0;
  background: hsl(210, 25%, 98%);
  margin-top: 55px;
}
.footer_container .footer_column {
  display: flex;
  flex-direction: column;
}
.footer_container .footer_column:last-child {
  margin-right: 60px;
}
.footer_container .footer_column .useful_links {
  flex-direction: column-reverse;
}
.footer_container .footer_column h3 {
  color: #282c3f;
  font-size: 12px;
  margin-bottom: 25px;
}
.footer_container .footer_column h3:nth-of-type(2) {
  margin-top: 20px;
}
.footer_container .footer_column .app_store {
  display: flex;
  margin: 10px 0 10px 0;
  column-gap: 10px;
}
.footer_container .footer_column .app_store img {
  height: 42px;
}
.footer_container .footer_column .social-icons > a {
  padding: 5px;
}
.footer_container .footer_column .return_policy {
  display: inline-flex;
  flex-direction: column;
}
.footer_container .footer_column .return_policy img {
  width: 48px;
  height: 40px;
}
.footer_container .footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}
.footer_container .footer_popular_search {
  box-sizing: content-box;
}

.contact_section {
  display: flex;
  justify-content: space-around;
  color: #94969f;
  text-align: end;
  padding: 15px;
}
.contact_section a:first-child {
  text-decoration: none;
  font-weight: 700;
  color: #526cd0;
}
.contact_section a {
  text-decoration: none;
  color: #94969f;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer_container {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 480px) {
  .footer_container {
    flex-wrap: wrap;
    text-align: center;
  }
  .contact_section {
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  margin-bottom: 45px;
}
header .logo_container {
  margin-left: 4%;
}
header .logo_container .myntra_home {
  width: 53px;
  height: 36px;
}
header .nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
header .nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 0;
  border-bottom: 4px solid #ffffff;
}
header .nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}
header .nav_bar a:last-child:after {
  vertical-align: super;
  content: "New";
  color: #ff3f6c;
  font-size: 10px;
}
header .search_bar {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 200px;
  width: 30%;
}
header .search_bar .search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
header .search_bar .search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
header .search_bar .search_input:focus {
  outline: none;
}
header .action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-around;
  margin-right: 4%;
}
header .action_bar .action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-bottom: 4px solid #ffffff;
}
header .action_bar .action_container:first-child:hover {
  border-bottom: 4px solid #f54e77;
}

.banner_container {
  margin-bottom: 200px;
}
.banner_container .slides {
  width: 100%;
  height: 205px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.banner_container .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.banner_container .slides input {
  display: none;
}
.banner_container .slides input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.banner_container .slides input#img-1:checked ~ .nav-dots label#img-dot-1,
.banner_container .slides input#img-2:checked ~ .nav-dots label#img-dot-2,
.banner_container .slides input#img-3:checked ~ .nav-dots label#img-dot-3,
.banner_container .slides input#img-4:checked ~ .nav-dots label#img-dot-4,
.banner_container .slides input#img-5:checked ~ .nav-dots label#img-dot-5,
.banner_container .slides input#img-6:checked ~ .nav-dots label#img-dot-6,
.banner_container .slides input#img-7:checked ~ .nav-dots label#img-dot-7 {
  background: rgba(62, 62, 62, 0.8);
}
.banner_container .slides .slide-container {
  display: block;
  border-radius: 10px;
}
.banner_container .slides .slide-container .slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 220px;
  height: auto;
  display: block;
  position: absolute;
  transform: scale(0);
  right: 10px;
}
.banner_container .slides .slide-container .slide:hover {
  opacity: 0.5;
}
.banner_container .slides .slide-container .slide img {
  width: 100%;
  height: auto;
}
.banner_container .slides .nav label:hover {
  opacity: 1;
}
.banner_container .slides .nav-dots {
  width: 100%;
  bottom: -60px;
  height: 11px;
  position: absolute;
  text-align: center;
}
.banner_container .slides .nav-dots .nav-dot {
  margin: 0 6px;
  position: relative;
  top: 90px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(182, 179, 179, 0.6);
}
.banner_container .slides .nav-dots .nav-dot:hover {
  cursor: pointer;
  background: rgba(62, 62, 62, 0.8);
}

.category_container .category_slides {
  width: 100%;
  height: 205px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.category_container .category_slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.category_container .category_slides input {
  display: none;
}
.category_container .category_slides input:checked + .category-slide-container .category_slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.category_container .category_slides input#category-img-1:checked ~ .category-nav-dots label#category-img-dot-1,
.category_container .category_slides input#category-img-2:checked ~ .category-nav-dots label#category-img-dot-2,
.category_container .category_slides input#category-img-3:checked ~ .category-nav-dots label#category-img-dot-3,
.category_container .category_slides input#category-img-4:checked ~ .category-nav-dots label#category-img-dot-4,
.category_container .category_slides input#category-img-5:checked ~ .category-nav-dots label#category-img-dot-5,
.category_container .category_slides input#category-img-6:checked ~ .category-nav-dots label#category-img-dot-6,
.category_container .category_slides input#category-img-7:checked ~ .category-nav-dots label#category-img-dot-7 {
  background: rgba(62, 62, 62, 0.8);
}
.category_container .category_slides .category-slide-container {
  display: block;
  border-radius: 10px;
}
.category_container .category_slides .category-slide-container .category_slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 220px;
  height: auto;
  display: flex;
  position: absolute;
  transform: scale(0);
  right: 10px;
}
.category_container .category_slides .category-slide-container .category_slide:hover {
  opacity: 0.5;
}
.category_container .category_slides .category-slide-container .category_slide img {
  width: 210.3333333333px;
}
.category_container .category_slides .nav label:hover {
  opacity: 1;
}
.category_container .category_slides .category-nav-dots {
  width: 100%;
  bottom: -60px;
  height: 11px;
  position: absolute;
  text-align: center;
}
.category_container .category_slides .category-nav-dots .category-nav-dot {
  margin: 0 6px;
  position: relative;
  top: 90px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(182, 179, 179, 0.6);
}
.category_container .category_slides .category-nav-dots .category-nav-dot:hover {
  cursor: pointer;
  background: rgba(62, 62, 62, 0.8);
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 65px 0 65px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_items {
  display: flex;
  flex-wrap: wrap;
}
.category_items .sale_item:first-child {
  width: 210.3333333333px;
  height: auto;
}
.category_items .sale_item:first-child:nth-child(2) {
  margin: 8px 10px 8px 10px;
}
.category_items:nth-child(2) {
  width: 250px;
}

@media all and (max-width: 480px) {
  .banner_container {
    margin-bottom: 0;
  }
  .banner_container .slides .nav-dots {
    top: 10px;
  }
  .category_heading {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
