// Footer
.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 40px 0;
    background: hsl(210, 25%, 98%);
    margin-top: 55px;

    .footer_column {
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-right: 60px;
        }

        .useful_links {
            flex-direction: column-reverse;
        }

        h3 {
            color: #282c3f;
            font-size: 12px;
            margin-bottom: 25px;
        }

        h3:nth-of-type(2) {
            margin-top: 20px;
        }

        .app_store {
            display: flex;
            margin: 10px 0 10px 0;
            column-gap: 10px;

            img {
                height: 42px;
            }
        }

        .social-icons>a {
            padding: 5px;
        }

        .return_policy {
            display: inline-flex;
            flex-direction: column;

            img {
                width: 48px;
                height: 40px;
            }
        }

        a {
            color: #696b79;
            font-size: 15px;
            text-decoration: none;
            padding-bottom: 5px;
        }
    }

    .footer_popular_search {
        // display: block;
        box-sizing: content-box;
    }
}

.contact_section {
    display: flex;
    justify-content: space-around;
    color: #94969f;
    text-align: end;
    padding: 15px;

    a:first-child {
        text-decoration: none;
        font-weight: 700;
        color: #526cd0;
    }

    a {
        text-decoration: none;
        color: #94969f;
    }
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    .footer_container {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 480px) {
    .footer_container {
        flex-wrap: wrap;
        text-align: center;
    }
    .contact_section {
        font-style: italic;
        flex-direction: column;
        text-align: center;
    }
}