* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 80px;

    .logo_container {
        margin-left: 4%;

        .myntra_home {
            width: 53px;
            height: 36px;
        }
    }
    .action_bar {
        margin-right: 4%;
    }
}