.banner_container {
    // background-color: #f8f8f8;
    margin-bottom: 200px;

    .slides {
        width: 100%;
        height: 205px;
        display: block;
        margin: 0 auto;
        position: relative;

        * {
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }

        input {
            display: none;

            &:checked+.slide-container .slide {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease-in-out;

            }
        }

        input#img-1:checked~.nav-dots label#img-dot-1,
        input#img-2:checked~.nav-dots label#img-dot-2,
        input#img-3:checked~.nav-dots label#img-dot-3,
        input#img-4:checked~.nav-dots label#img-dot-4,
        input#img-5:checked~.nav-dots label#img-dot-5,
        input#img-6:checked~.nav-dots label#img-dot-6,
        input#img-7:checked~.nav-dots label#img-dot-7 {
            background: rgba(62, 62, 62, 0.8);
        }

        .slide-container {
            display: block;
            border-radius: 10px;

            .slide {
                top: 0;
                opacity: 0;
                width: 100%;
                height: 220px;
                height: auto;
                display: block;
                position: absolute;
                transform: scale(0);
                right: 10px;

                &:hover {
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .nav label:hover {
            opacity: 1;
        }

        .nav-dots {
            width: 100%;
            bottom: -60px;
            height: 11px;
            position: absolute;
            text-align: center;

            .nav-dot {
                margin: 0 6px;
                position: relative;
                top: 90px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                display: inline-block;
                background-color: rgba(182, 179, 179, 0.6);

                &:hover {
                    cursor: pointer;
                    background: rgba(62, 62, 62, 0.8);
                }
            }
        }

    }
}

// Categories

.category_container {
    .category_slides {
        width: 100%;
        height: 205px;
        // display: block;
        display: flex;
        margin: 0 auto;
        position: relative;

        * {
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }

        input {
            display: none;

            &:checked+.category-slide-container .category_slide {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease-in-out;

            }
        }

        input#category-img-1:checked~.category-nav-dots label#category-img-dot-1,
        input#category-img-2:checked~.category-nav-dots label#category-img-dot-2,
        input#category-img-3:checked~.category-nav-dots label#category-img-dot-3,
        input#category-img-4:checked~.category-nav-dots label#category-img-dot-4,
        input#category-img-5:checked~.category-nav-dots label#category-img-dot-5,
        input#category-img-6:checked~.category-nav-dots label#category-img-dot-6,
        input#category-img-7:checked~.category-nav-dots label#category-img-dot-7 {
            background: rgba(62, 62, 62, 0.8);
        }

        .category-slide-container {
            // display: flex;
            // flex-direction: column;
            display: block;
            border-radius: 10px;

            .category_slide {
                top: 0;
                opacity: 0;
                width: 100%;
                height: 220px;
                height: auto;
                // display: block;
                display: flex;
                position: absolute;
                transform: scale(0);
                right: 10px;

                &:hover {
                    opacity: 0.5;
                }

                img {
                    width: calc(1262px / 6);
                    // width: 100%;
                    // height: auto;
                }
            }
        }

        .nav label:hover {
            opacity: 1;
        }

        .category-nav-dots {
            width: 100%;
            bottom: -60px;
            height: 11px;
            position: absolute;
            text-align: center;

            .category-nav-dot {
                margin: 0 6px;
                position: relative;
                top: 90px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                display: inline-block;
                background-color: rgba(182, 179, 179, 0.6);

                &:hover {
                    cursor: pointer;
                    background: rgba(62, 62, 62, 0.8);
                }
            }
        }

    }
}



// 
.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 65px 0 65px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;

    // justify-content: space-evenly;
    &:nth-child(2) {
        // margin: 0 10px 0 10px;
    }

    .sale_item {
        &:first-child {
            width: calc(1262px / 6);
            height: auto;

            &:nth-child(2) {
                margin: 8px 10px 8px 10px;
                // width: 250px;
            }
        }
    }

    &:nth-child(2) {
        width: 250px;
    }

}



// 


// .banner_container .slides .nav-dots

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (max-width: 480px) {

    .banner_container {
        margin-bottom: 0;
        .slides {
            .nav-dots {
                top: 10px;
            }
        }
    }
    .category_heading {
        margin-top: 0;
    }
}